.active{
  background-color: #14B789;
}
.divStyle{
  width: 200px;
  height: 100px;
  background-color: #dc3545;
}
.div-2{
  width: 100px;
  height: 100px;
  background-color: blueviolet;
}
