<h1>My name is :  {{my_name}}</h1>
<img [src]="imageLink" alt="" width="{{car_width}}">
<br>
<button [attr.role]="task">Click me</button>
<hr>
<button [class.active]="isActive" [style.font-size]="fs" (click)="changeFontSize()">Change State</button>
<hr>
<div [class.bac_div]="isBac" [style.font-size]="fs">Hello</div>
<hr>
<input type="text" #inpData (keyup.enter)="printData(inpData.value)">
<h2>Customer name : {{customer_name}}</h2>
<hr>
<button (click)="activeDiv=!activeDiv">{{activeDiv?'Hide now':'Show now'}}</button>
<hr>
<div [class.div-1]="activeDiv" *ngIf="activeDiv" ></div>

<ul>
  <li *ngFor="let tempData of customer">Name : {{tempData?.name}} = > Age : {{tempData?.age}}</li>

</ul>
<hr>
<input type="text" [(ngModel)]="enter_name">
<hr>
Your name is : {{enter_name}}

