.active{
  background-color: #14B789;
}
.bac_div{
  background-color: #0984e3;
  width: 100px;
  height: 100px;
}
.div-1{
  background-color: chartreuse;
  width: 100px;
  height: 100px;
}
